package layout

import "joshdstockdale/grounded/model"

templ Base(user model.User) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Slick Application</title>

			<script src="https://unpkg.com/htmx.org@1.9.9" defer></script>
		</head>
		<body>
		<h2>{user.Email}</h2>
			{ children... }
		</body>
	</html>
}
